*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.NavbarItems{
    background:linear-gradient(90deg,rgb(110,94,254) 0% , rgba(73,63,252,1) 100%);
    height:80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size:1.2rem;
}
.narbar-logo{
    color:#fff;
    justify-self:20px;
    cursor: pointer;
    text-decoration: none;
    font-size:40px;
}
.menu-icon{
    margin-left:0.5;
    font-size:1.6rem;
}

.nav-menu{
    display: flex;
    justify-content:center;
    grid-gap:10px;
    list-style:none;
    width:70vw;
    justify-content:end;
    margin-right:2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding:0.5rem 1rem;
}

.btn-auth{
    color:#fff;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.nav-link:hover{
    background-color:#6d76f7;
    border-radius: 4px;
    transition:all 0.2s ease-out;
}
.fa-bars{
    color:#fff
}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
}

@media screen and (max-width:960px){
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:600px;
        position:absolute;
        top: 80px;
        left:-100%;
        opacity: 1;
        transition:all .5s ease;
    }

    .nav-menu.active{
        background:#6668f4;
        left:0;
        opacity:1 ;
        transition: all 0.5s ease;
        z-index:1;
    }

    .nav-links{
        text-align:center;
        padding:2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #7577fa;
        border-radius:0;

    }
    .menu-icon{
        display: block;
        position:absolute;
        top:0;
        right:0;
        transform:translate(-100%,60%);
        font-size:1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color:#fff;
        font-size:2rem;
    }
    
    .btn-auth > i{
        color:#fff
    }
    
}

