.productListContainer{
    display: flex;
}
.productList{
    border-left: 0.5px solid #cccc;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productListContainer  table {
    text-align: center;
    width:80vmax;
    margin: 20px auto;
    font-family: sans-serif;
    
  }
  /* The Attributes that the Head and the Body of the Table Share */
  .productListContainer  th,
  .productListContainer  td {
    padding: 10px;
  }
  /* Attributes of the Head of the Body */
  .productListContainer  th {
    background-color: #404040;
    color: white;
  }
  /* Attributes of Each Cell */
  .productListContainer  td {
    background-color: #eee;
  }
  /*Attributes of Span*/
  .productListContainer  span {
    padding: 5px 10px;
    margin: 3px;
    color: white;
  }
  /*Attributes */
  .productListContainer  .editIcon {
    font-size: 1.2vmax;
    padding:10px;
    color:green;
    background-color:#eee
  }
  .productListContainer  .editIcon:hover{
    opacity: 0.6;
    transform:scale(1.1)
  }
  .productListContainer  .removeIcon {
    font-size: 1.2vmax;
    padding:10px;
    color:red;
    background-color:#eee
  }
  .productListContainer  .removeIcon:hover{
    opacity: 0.6;
    transform:scale(1.1)
  }
  .productListContainer img{
    width: 50px;
    height: 50px;
  }

  .productListContainer .action > a{
    
  }
  